/Proyecto Web Java/nbproject/private/
/Proyecto Web Java/build/
/Proyecto Pruebas Spring/nbproject/private/
/Proyecto Pruebas Spring/build/
/PruebaSpringJava/nbproject/private/
/PruebaSpringJava/build/
/PruebasSpring/nbproject/private/
/PruebasSpring/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/MavenSpring/target/
