<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="miInforme" class="es.adrian.IoC.Informe"/>
    <bean id="miEmpleado" class="es.adrian.IoC.JefeEmpleado">
        <constructor-arg ref="miInforme"/>
    </bean>
    <bean id="miSecretarioEmpleado" class="es.adrian.IoC.SecretarioEmpleado">
        <property name="informeNuevo" ref="miInforme"></property>
        <property name="email" value="secretaria@adriandeveloper.com"></property>
        <property name="nombreEmpresa" value="Adriandeveloper.com"></property>
    </bean>
    
</beans>
